.social-media {
	height: 11vh;
	width: 5vw;
	position: fixed;
	left: 0;
	right: 95vw;
	top: 89vh;
	z-index: 0;
}

.social-media ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.social-media ul {
	list-style: none;
	padding-left: 0;
	padding: 10px;
}

.social-media img {
	width: 36px;
	height: 36px;
}

.social-media a:hover {
    background-color: white;
}